.main_common {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 80vh;
    background-position-y: 47%;
    background-position-x: 47%;
    background-image: url(../images/kenshi_blank.jpg);
}

* {
    margin: 0;
    padding: 0;
}